.body {font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    display: flexbox;
    
    }
    .title {
        font-family: 'Abril Fatface', cursive;
        font-size: 48px; 
        caret-color: aquamarine;
        flex-direction: center;
    }
    .text {
        font-family: 'Abril Fatface', cursive;
        font-size: 48px; 
        caret-color: aquamarine;
        flex-direction: center;
    }